@charset "UTF-8";

/* reset */

@font-face { 
    font-family: 'GongGothicMedium'; 
    src: url('https://github.com/projectnoonnu/noonfonts_20-10/blob/main/GongGothicMedium.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

a:hover {
    border-bottom: 1px dashed #fff;
}

img {
    width: 100%;
    vertical-align: top;
}

ul {
    padding: 10px 20px;
}

li {
    list-style: none;
}

body {
    overflow: hidden;
    height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    background: url(/img/05.JPG) no-repeat center center;
    background-size: cover;
    color: #ffffff;
    font-family: 'GongGothicMedium'; 
    transition:  all 0.2s;
    -webkit-transition:  all 0.2s;
    -moz-transition:  all 0.2s;
    -ms-transition:  all 0.2s;
    -o-transition:  all 0.2s;
}

body::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(59, 5, 70, 0.7);
}


/* main */
.contents {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.move-image {
    /* css에서 x,y,d 변수를 만들어 준다. 자바스크립트 속성을 이용해서 변수에 값을 넣어준다.  */
    --x: 0;
    --y: 0;
    --d: 50;
    position: relative;
    cursor: none;
}

.move-image .mimg {
    overflow: hidden;
    position: relative;
    width: 50vw;
    height: 60vh;
    background-color: #cccccc;
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    -webkit-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    -moz-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    -ms-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    -o-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.move-image:hover .mimg {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
}

.move-image .mimg .img {
    /* 변수 d는 움직인 정도 => jquery로 했을때, 변수에다가 20을 나누어 준 것을 생각하면 된다.*/
    --d: 20;
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    /*object-fit는 backgroind속성의 cover처럼 img태그도 cover에 맞춰주는 기능이다.*/
    object-fit: cover;
    /*cubic-bezier을 줌으로써 움직임을 조금 더 부드럽게 가져갈수 있다.*/
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    -webkit-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    -moz-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    -ms-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    -o-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    /*transform: translate("x/d"px,"y/d"px -> 움직임의 폭이 너무 크기 때문에 미리 css에서 가공을 해준 것.*/
    transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
    -webkit-transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
    -moz-transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
    -ms-transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
    -o-transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
}

/* CSS3의 가장 큰 특징은 변수를 사용할 수 있는 점과, 계산이 가능 하다는 점이다.  */
/* calc를 사용할때는 값 사이를 띄워줘야 한다. */

.move-image .mtext {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.3vw;
    text-align: center;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.mtext p {
    font-weight: 700;
    color: indianred;
}

.cursor {
    z-index: 1000;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    user-select: none;
    pointer-events: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

/* 정해진 상자 안에서만 cursor가 보이게끔 한다.  */
.cursor strong {
    padding: 0 5px;
    display: block;
    display: none;
    position: absolute;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 1);
}

.cursor strong:first-child {
    top: 10px;
    left: 30px;
}

.cursor strong:last-child {
    top: 35px;
    left: 30px;
}

/* info */
.info {
    position: absolute;
    z-index: 1000;
}

.info h1 {
    font-size: 20px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 8px;
}

.info p, .info li {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 3px;
}

.info li.active a:first-child {
    background-color: #ffffff;
    color: #000000;
}

.info.left {
    top: 20px;
    left: 20px;
}

.info.right {
    top: 10px;
    right: 10px;
}

.info.right a {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    border: 1px dashed #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.info.right a:hover {
    background-color: #ffffff;
    color: #000000;
}

.info.bottom {
    left: 10px;
    bottom: 10px;
}

.info.bottom li {
    display: block;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.info.bottom li.active {
    color: orange;
}

.info.bottom li:hover {
    color: orange;
}

.info.view {
    right: 20px;
    bottom: 20px;
}

.info.view a {
    padding: 5px 30px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

@media (max-width: 800px) {
    .info.bottom {display: none;}
    .info.right {display: none;}
}

